/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

header {
  background-color: #fe9;
}

header, footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
}

aside {
  background-color: #ef9;
}

aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
}

main {
  background-color: #9ef;
}

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: right;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
}

footer {
  background-color: #db20bf;
}

footer {
  clear: both;
}
