
@import "compass";
@import "susy";
@import "breakpoint";

@import "variables";
@import "layout";

@import "header";
@import "aside";
@import "main";
@import "footer";


header {
    background-color: #fe9;
}

aside {
    background-color: #ef9;
}

main {
    background-color: #9ef;
}

footer {
    background-color: #db20bf;
}
