/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

header {
    background-color: #fe9;
}

aside {
    background-color: #ef9;
}

main {
    background-color: #9ef;
}

footer {
    background-color: #db20bf;
}
